*

!OSR/
!OSR/files/
!OSR/files/nord-est-latest.osm.pbf

!casdoor/
!casdoor/db/
!casdoor/db/casdoor.db
!casdoor/img/
!casdoor/img/favicon.png
!casdoor/app.conf

!public_server.Dockerfile

!docker-compose.yml

!.gitignore

!Readme.md

